<div class="trainer">
    <h1>Welcome Pokémon Trainer</h1>

    <!-- Submit function added for the form (button) with validation -->
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <label class="form-label" for=trainerName>Trainer Name: </label>

        <br>
        <input 
            class="form-control"
            type="text" 
            id="name" 
            [ngClass]="{'is-valid': trainerName.valid, 'is-invalid': (trainerName.invalid && ( trainerName.dirty || trainerName.touched ) ) }"
            name="trainerName" 
            minlength="3" 
            placeholder="Example Ash" 
            ngModel #trainerName="ngModel" 
            required>
            
            <!-- Checking for errors in trainername -->
            <div *ngIf="trainerName.errors && trainerName.invalid && ( trainerName.dirty || trainerName.touched) ">
                <p class="invalid-feedback" *ngIf="trainerName.errors?.['required']">Trainer name is required!</p>
                <p class="invalid-feedback" *ngIf="trainerName.errors?.['minlength']">Trainer name too short</p>

            </div>
        <br>
        <br>
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-success">Lets Go Catch Some Pokémon!</button>

        <pre>
            {{loginForm.valid}}
        </pre>
    </form>


</div>