<nav class="navbar navbar-dark bg-dark">
    <img src="https://cdn-icons-png.flaticon.com/512/1408/1408921.png" class="image" width="70" height="70">
    <button class="btn btn-success" routerLink="/catalogue">Go To Catalogue Page</button>
    <h1 class="text-trainer"> {{trainerName}}'s Collected Pokémon</h1>
    <button class="btn btn-warning" routerLink="/login" (click)="logOut()">Logout</button>
    <img src="https://cdn-icons-png.flaticon.com/512/1408/1408921.png" class="image" width="70" height="70">
</nav>